#Task 3.1

In [1]:
#Go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

list1 = [57,43,"Arpitha","Chaksitha",True,False,25,12,35,69]
list1

[57, 43, 'Arpitha', 'Chaksitha', True, False, 25, 12, 35, 69]

In [2]:
#Count()

list1.count("Arpitha")

1

In [3]:
#Reverse()

list1.reverse()
list1

[69, 35, 12, 25, False, True, 'Chaksitha', 'Arpitha', 43, 57]

In [4]:
#Remove()

list1 = [57,43,"Arpitha","Chaksitha",True,False,25,12,35,69]
list1.remove(35)
list1

[57, 43, 'Arpitha', 'Chaksitha', True, False, 25, 12, 69]

In [8]:
#Clear()

list1.clear()
list1

[]

In [6]:
#Sort()

list2=[100,98,47,56,95,75]
list2

[100, 98, 47, 56, 95, 75]

In [7]:
list2.sort()
list2

[47, 56, 75, 95, 98, 100]

#Task 3.2

In [9]:
#Create a list of length = 10 and access 5th to 8th data.

l1 = [10,20,30,40,50,60,70,80,90,100]
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [10]:
l1[4:8:1]

[50, 60, 70, 80]

#Task 4

In [11]:
#i)Add item 70 after 60 in the following Python list input
l1 = [10,20,[30,40,[50,60],80],90,100]
l1

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [12]:
l1[2][2].append(70)
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [13]:
#ii)Add sublist [7,8] after 6 input

l2 = [1,2,[3,4,5,6],9]
l3=[7,8]
l2[2].insert(4,l3)

l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

#Task 5

In [14]:
dict1={
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70,
            }
        }
    }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [15]:
#access "Mike"

dict1["april_batch"]["student"]["name"]

'Mike'

In [16]:
#access 80

dict1["april_batch"]["student"]["marks"]["python"]

80

In [17]:
#Change "Mike" to "Arpitha"

dict1["april_batch"]["student"]["name"]="Arpitha"
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70}}}}

In [18]:
#Add ml=80 and dl=80 inside marks

dict1["april_batch"]["student"]["marks"]["ml"]=80
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70, 'ml': 80}}}}

In [19]:
dict1["april_batch"]["student"]["marks"]["dl"]=80
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70, 'ml': 80, 'dl': 80}}}}