#Task 6

In [1]:
#Add and remove the elements from a tuple

tup1 = (4,6,2,8,3,1)
tup1

(4, 6, 2, 8, 3, 1)

In [2]:
#converting the tuple into list and then adding the element

listx = list(tup1)

In [3]:
listx.append(30)

In [4]:
tup1=tuple(listx)
tup1

(4, 6, 2, 8, 3, 1, 30)

In [5]:
#converting the tuple into list and removing the element

tup1

(4, 6, 2, 8, 3, 1, 30)

In [6]:
listx=list(tup1)

In [7]:
listx.remove(30)

In [8]:
tup1=tuple(listx)
tup1

(4, 6, 2, 8, 3, 1)

#Task7

In [9]:
#Go through other inbuilt methods like

#i)Difference()

set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [10]:
set3 = set1.difference(set2)

In [11]:
set3

{1, 2, 3}

In [12]:
#Symmetric difference():It provides all the elements except common elements

set1

{1, 2, 3, 4, 5}

In [13]:
set2

{4, 5, 6, 7, 8}

In [14]:
set3=set1.symmetric_difference(set2)

In [15]:
set3

{1, 2, 3, 6, 7, 8}